<app-header-landing-page></app-header-landing-page>

  <div class="mb-6 flex items-center justify-center mt-6">
  
  <div
    class=" transition-opacity duration-150 ease-linear data-[te-tab-active]:block">
    <div class="">
      <div class="container flex justify-center">
        <h2 class="text-4xl font-medium leading-tight">
          Favorite Weather
        </h2>
      </div>
  
      <div class="container pt-5">
        <div class="mb-3">
          <form [formGroup]="favWeatherForm">
          <div class="relative mb-4 flex w-full flex-wrap items-stretch">
            <input
            formControlName="fcity"
              name="fcity"
              type="search"
              class="relative m-0 -mr-0.5 block w-[1px] min-w-0 flex-auto rounded-l border border-solid border-neutral-300 bg-transparent bg-clip-padding px-3 py-[0.25rem] text-base font-normal leading-[1.6] text-neutral-700 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-neutral-700 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:focus:border-primary"
              placeholder="Add City"
              aria-label="Search"
              aria-describedby="button-addon1" />
        
            
              <button
              
              (click)="setFavCity()"
              class="relative z-[2] flex items-center rounded-r bg-primary px-6 py-2.5 text-xs font-medium uppercase leading-tight text-white shadow-md transition duration-150 ease-in-out hover:bg-primary-700 hover:shadow-lg focus:bg-primary-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-primary-800 active:shadow-lg"
              type="submit"
              id="button-addon1"
              data-te-ripple-init
              data-te-ripple-color="light">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 20 20"
                fill="currentColor"
                class="h-5 w-5">
                <path
                  fill-rule="evenodd"
                  d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
                  clip-rule="evenodd" />
              </svg>
            </button>
          </div>
        </form>
        </div> 
      </div>
    </div>
    <div class="" *ngFor="let item of fnameOfCity; let i = index">
      <div
  class="flex flex-col rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700 md:max-w-xl md:flex-row">
  <img
    class="h-20 w-1/2 rounded-t-lg object-cover md:h-auto md:!rounded-none md:!rounded-l-lg"
    src="{{ficon[i]}}"
    alt="" />
  <div class="flex flex-col justify-start p-6">
    <h5
      class="mb-2 text-xl font-medium text-neutral-800 dark:text-neutral-50">
      {{item}} 
    </h5>
    <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
      Temperature in C( {{ftempC[i]}} )
      Temperature in F( {{ftempF[i]}} )
    </p>
    <p class="text-xs text-neutral-500 dark:text-neutral-300">
      {{ftext[i]}}
    </p>
    <button (click)="onSelectCity(item)">Delete</button>
  </div>
</div>
  </div>
  </div>